html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  background: #7a7163;
}

.App {
  font-family: sans-serif;
  padding: 20px;
}

.dialogWindow {
  background-color: #e2b27e;
  border: solid;
  border-image: url("/borderbox_simple.png") 28 / 10px 10px 10px 10px stretch;
  padding: 15px;
  margin: 30px;
}

.dialogTitle {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.dialogFooter {
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 15px;
  text-align: end;
}

.socialShilling {
  color: white;
  font-size: 0.8rem;
  margin-top: 8px;
  text-decoration: none;
}

.socialShilling a {
  color: rgb(138, 212, 236);
  text-decoration: none;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
